pyqt6>=6.1.0
PyQt6-WebEngine>=6.1.0
psutil>=5.8.0
pygetwindow>=0.0.9
keyboard>=0.13.5
Pillow>=8.0.0
opencv-python>=4.5.0
numpy>=1.20.0
firebase-admin>=6.0.0
requests>=2.25.0
nuitka>=2.1
zstandard>=0.21.0
